<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>REtranscriptER</title>
    {{ bootstrap.load_css() }}
    <meta name="theme-color" content="#563d7c">
</head>
<body class="bg-light">
<div class="container">
    <div class="py-3 text-center">
        <h2>REtranscriptER</h2>
        <p class="lead">There was an error with your upload: file not a PDF.</p>
        <a href="/" class="btn btn-primary">Go back to try again</a>
    </div>

</div>
</body>
</html>